<!-- Sidebar -->
<div class="fixed inset-y-0 left-0 w-64 bg-white shadow-lg">
  <div class="flex flex-col items-center justify-center mt-10">
    <h1 class="text-2xl font-bold">Pasos</h1>
  </div>
  <nav class="mt-10">
    <a
      class="block px-4 py-2 mt-2 text-sm text-gray-600 rounded hover:bg-gray-200"
      [routerLink]="['/pages/dashboard']"
      >Dashboard</a
    >
    <a
      class="block px-4 py-2 mt-2 text-sm text-gray-600 rounded hover:bg-gray-200"
      [routerLink]="['pages/pedidos']"
      >Pedidos</a
    >
    <a
      class="block px-4 py-2 mt-2 text-sm text-gray-600 rounded hover:bg-gray-200"
      [routerLink]="['pages/productos']"
      >Productos</a
    >
    <a
      class="block px-4 py-2 mt-2 text-sm text-gray-600 rounded hover:bg-gray-200"
      [routerLink]="['pages/tiendas']"
      >Tiendas</a
    >
    <a
      class="block px-4 py-2 mt-2 text-sm text-gray-600 rounded hover:bg-gray-200"
      href="#"
      >Usuarios</a
    >
    <a
      class="block px-4 py-2 mt-2 text-sm text-gray-600 rounded hover:bg-gray-200"
      [routerLink]="['pages/gestion-apis']"
      >Api's</a
    >
  </nav>
</div>
